.editor {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.editor__codemirror-container {
  flex: 1;
  position: relative;
  min-height: 0;
}

@keyframes highlight-ast-text {
  0% {
    background-color: red;
  }
  66% {
    background-color: red;
  }
  100% {
    background-color: transparent;
  }
}

.editor__codemirror-active-marker {
  animation: highlight-ast-text 1s forwards;
}

.CodeMirror {
  height: 100%;
}

.CodeMirror-gutters {
  border: none;
}

.CodeMirror-linenumber {
  color: #ccc;
}
