.piano-roll {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  flex: 1;
  user-select: none;
  cursor: default;
  min-width: 0;
}

.piano-roll__header {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  width: 100%;
  align-items: flex-end;
}

.piano-roll__loop-control {
  background-color: #f8f8f8;
}

.piano-roll__loop-control-bar {
  fill: #ddd;
  cursor: move;
}

.piano-roll__loop-control-marker {
  fill: #aaa;
  cursor: ew-resize;
}

.piano-roll__workspace {
  overflow: scroll;
  width: 100%;
  height: 100%;
  flex-shrink: 1;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row nowrap;
  position: relative;
}

.piano-roll__keys {
  display: block;
  margin: 0;
  position: relative;
  z-index: 2;
  cursor: ew-resize;
}

.piano-roll__key--white {
  fill: #fff;
}
.piano-roll__key--black {
  fill: #ccc;
}
.piano-roll__key--active {
  fill: #ffa676;
}

.piano-roll__transport {
  cursor: ns-resize;
}

.piano-roll__note {
  fill: #ffa676;
  /*stroke: #ff8543;*/
}

.piano-roll__note--selected {
  fill: #ff742a;
  /*stroke: #dc4d00;*/
}

.piano-roll__note--active {
  fill: #ff742a;
}

.piano-roll__note--ghost {
  opacity: 0.4;
}

.piano-roll__note-drag-handle {
  opacity: 0.05;
}

.piano-roll__text {
  font-family: 'Monaco', monospace;
  alignment-baseline: central;
  fill: #ddd;
}

.piano-roll__grid-shade {
  fill: #f8f8f8;
}

.piano-roll__grid-line {
  stroke: #eeeeee;
}

.piano-roll__grid-line--strong {
  stroke: #dddddd;
}

.piano-roll__playback-marker {
  fill: #18f3ba;
  opacity: 0.1;
}

.piano-roll__selection {
  fill: #2a3590;
  opacity: 0.1;
}

.piano-roll__config {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 5px;
}

.piano-roll__config select {
  background: white;
  color: #ccc;
}

.piano-roll__loop-shade {
  fill: rgba(0,0,0,0.027);
}
