.launcher {
  display: flex;
  flex-direction: row;
  user-select: none;
  cursor: default;
  padding: 5px 5px 5px 0;
}

.launcher__track {
  display: flex;
  flex-direction: column;
  width: 70px;
  margin: 0 0 0 5px;
  align-items: stretch;
}

.launcher__sequences {

}

.launcher__sequence {
  padding: 5px 10px;
  font-size: 10px;
  margin-bottom: 5px;
  color: white;
  font-family: 'Monaco', monospace;
  background-color: #18f3ba;
  display: flex;
  align-items: center;
  line-height: 0;
  position: relative;
}

.launcher__sequence--placeholder {
  background-color: #ddd;
}

.launcher__sequence--selected {
  background: #09b588;
}

.launcher__sequence--next:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  animation: sequence-next 1s infinite;
}

@keyframes sequence-next {
    0%     {background-color:rgba(0,0,0,0);}
    50.0%  {background-color:rgba(0,0,0,0.15)}
    100.0%  {background-color:rgba(0,0,0,0)}
}

.launcher__sequence-loop-indicator {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: rgba(0,0,0,0.1);
  z-index: 1;
}

.launcher__sequence-controls {
  z-index: 2;
}

.launcher__track-audio-controls {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 10px 0;
}

.launcher__track-slider {
  flex: 1;
  margin: 10px 0 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.launcher__track-meter {
  width: 8px;
  /*margin-left: 12px;*/
  background: #ddd;
  /*border-radius: 4px;*/
  overflow: hidden;
  display: flex;
}

.launcher__track-label {
  font-family: 'Monaco', monospace;
  color: #aaa;
  font-size: 12px;
  padding-top: 10px;
  text-align: center;
}

.launcher__track-controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 8px 0;
}

.launcher__track-control {
  width: 20px;
  height: 20px;
  margin: 2px;
  background: #ccc;
  color: white;
  line-height: 20px;
  text-align: center;
  font-size: 10px;
  font-family: 'Monaco', monospace;
}

.launcher__track-control--solo-active {
  background: #18f3ba;
}

.launcher__track-control--mute-active {
  background: #ffa676;
}

.launcher__track-control--mute-active.launcher__track-control--disabled {
  background: #aaa;
}
