body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

select {
  border: none;
  outline: none;
  font-size: 12;
  font-family: 'Monaco';
  background: #ccc;
  color: #fff;
}

svg {
  display: block;
}
