.slider {
  height: 100%;
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider__track {
  height: 100%;
  width: 8px;
  box-sizing: border-box;
  background-color: #ccc;
  border-top: solid 4px #ccc;
  border-bottom: solid 4px #ccc;
  position: relative;
}

.slider__handle {
  position: absolute;
  width: 24px;
  height: 8px;
  margin-top: -4px;
  margin-left: -12px;
  top: 0;
  left: 50%;
  background-color: #aaa;
}

.slider--active .slider__handle {
  background-color: #999;
}
